main.main.main-error
    section.error-page 
        .container 
            p.error-page__title 
                img(src="../img/svg/404.svg", alt="") 
                <span>ошибка</span>
            p.error-page__subtitle Извините, страница не найдена
            p.error-page__text Вероятно, Вы указали несуществующий адрес, страница была удалена, перемещена или сейчас временно недоступна.
            a(href="index.html").error-page__btn.btn На главную 