main.main
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    h1.descriptor__title Банки-партнёры
                    .descriptor__text-block 
                        p Мы сотрудничаем с профессионалами в своих сферах и ценим своих партнёров.
    section.partners    
        .container 
            .partners__items 
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/sber.png", alt="") 
                    h3.partners__item_title  ПАО «Сбербанк»
                    p.partners__item_desc Российский финансовый конгломерат, крупнейший универсальный банк России и Восточной Европы.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/vtb.png", alt="") 
                    h3.partners__item_title  ПАО «ВТБ»
                    p.partners__item_desc Российский универсальный коммерческий банк c государственным участием.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/rosselhoz.png", alt="") 
                    h3.partners__item_title  АО «Россельхозбанк»
                    p.partners__item_desc Универсальный банк со 100% государственным участием.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/gazprom.png", alt="") 
                    h3.partners__item_title  АО «Газпромбанк»
                    p.partners__item_desc Один из крупнейших комерческих универсальных банков России.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/sovkom.png", alt="") 
                    h3.partners__item_title  ПАО «Совкомбанк»
                    p.partners__item_desc Российский частный универсальный коммерческий банк, относится к системно значимым банкам.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/mosk-indust.png", alt="") 
                    h3.partners__item_title  АО «Московский индустриальный банк»
                    p.partners__item_desc Российский универсальный банк. Входит в список 30 крупнейших банков России.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/uralsib.png", alt="") 
                    h3.partners__item_title  ПАО «Банк Уралсиб»
                    p.partners__item_desc Российский универсальный коммерческий банк.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/tkb.png", alt="") 
                    h3.partners__item_title  ПАО «ТрансКапитаБанк»
                    p.partners__item_desc Российский частный российский коммерческий банк.
                .partners__item 
                    .partners__item-img
                        img(src="../img/catalog/alfa.png", alt="") 
                    h3.partners__item_title  АО «Альфабанк»
                    p.partners__item_desc Крупнейший частный банк в России, занимающий четвёртое место по размеру активов.