main(class=`main main-${page}`)
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    h1.descriptor__head Контакты
                    .descriptor__text-block 
                        p Мы с удовольствием проконсультируем Вас и расскажем интересующую информацию о наших объектах.
        .descriptor__gallery.descriptor__contacts
            .container
                .descriptor__wrapper 
                    .descriptor__wrapper-text
                        
                        h3.descriptor__wrapper-title  Центральный офис
                        ul.descriptor__wrapper-items 
                            li.descriptor__wrapper-item.item-phone
                                a(href="tel:+74832595542") +7 (4832) 595-542 
                            li.descriptor__wrapper-item.item-adress  Брянск, ул. Молодой Гвардии 4
                            li.descriptor__wrapper-item.item-mail  
                                a(href="mailto: elektro-32@yandex.ru") elektro-32@yandex.ru

    section.sales 
        .container 
            .sales__wrapper 
                .callback 
                    form.callback__form.sendler.form_block(name='callback')
                        h3.contacts__title Оставьте заявку
                        p.contacts__subtitle и мы свяжемся с вами в ближайшее время.
                        .callback-form.form_block--inputs
                            label.fw-placeholder.name
                                input.fw-input.Y-required(type='text' name='name')
                                span.placeholder Ваше имя
                                span.error-placeholder Введите Ваше имя
                            label.fw-placeholder.phone
                                input.fw-input.Y-required(type='text' name='phone')
                                span.placeholder Номер телефона
                                span.error-placeholder Введите Ваш номер
                        .callback-form.form_block--textarea
                            label.fw-placeholder.text-area
                                textarea(name='message' placeholder="Опишите Ваш вопрос или просьбу и удобное время для связи.")
                                span.placeholder Комментарий
                        .callback-form.form_block--checkbox
                            label.fw-placeholder
                                input#checkbox-home.checkbox.Y-required(type='checkbox')
                                label(for='checkbox-home')
                                    p Я ознакомился и согласен с&nbsp; <span class="load--agreement"> правилами</span>
                                button.btn Отправить
                        input(type='hidden' name='link_page' value='')
                .sales__map-wrapper
                    .sales__map#map
                        