main(class=`main main-${page}`)
    section.descriptor 
        .container
            .descriptor__text-content
                img(src="../img/svg/main-logo.svg", alt="Логотип ГК Регион")
                .descriptor__text-block 
                    p Активно внедряем цифровые технологии в проектировании и строительстве.
                    p Строим с любовью, как себе.
        .descriptor__gallery.descriptor__index
            .container.relative
                .descriptor__index-text
                    p старт продаж 2-ой очереди
                    h1 ЖК САМОЛЁТ
                    button.btn выбрать квартиру
            .slider-arrows
                .swiper-button-prev.swiper-button-prev-articles     
                .swiper-button-next.swiper-button-next-articles   
            .partners__slider.swiper.js-articlesSlider 
                .partners__list.swiper-wrapper.js-articlesSlider 
                    .partner__item.swiper-slide
                        img(src='img/index/descriptor-main.jpg', alt="Ассоциация «Брянское объединение строителей»")
                    .partner__item.swiper-slide 
                        img(src='img/index/descriptor-main.jpg', alt="«Национальное объединение строителей»")
                    .partner__item.swiper-slide
                        img(src='img/index/descriptor-main.jpg', alt="Агрохолдинг «Охотно»")
            
    section.projects 
        .container 
            .projects__wrapper 
                h2.projects__title Реализованные объекты
                a(href="").projects__all Все объекты
            .projects__items 
                .projects__item
                    .information__slider.swiper.js-infoSlider 
                        ul.information__slider-list.swiper-wrapper
                            li.information__slider-item.swiper-slide 
                                img(src="../img/index/project1.jpg", alt="") 
                            li.information__slider-item.swiper-slide 
                                img(src="../img/index/project1.jpg", alt="")
                            li.information__slider-item.swiper-slide 
                                img(src="../img/index/project1.jpg", alt="")
                            li.information__slider-item.swiper-slide 
                                img(src="../img/index/project1.jpg", alt="")
                    .swiper-pagination-information
                    .information__slider-nav.swiper.js-infoSliderNav 
                    .status-wrapper    
                        span.status.status-build Строится
                    .item-text 
                        .item-text__wrapper
                            h3.item-text__head ЖД «Бурова 2B»
                            p.item-text__date 2022 - наст. время
                        p.item-text__adres Бежицкий р-н, ул. Бурова 2B
                .projects__item
                    img(src="../img/index/project2.jpg", alt="")
                    .status-wrapper
                        span.status.status-build Строится
                        a(href="").status.status__id ID дома: 46995
                    .item-text 
                        .item-text__wrapper
                            h3.item-text__head ЖК «Самолёт», поз. 1
                            p.item-text__date 2021 - 2022 г.
                        p.item-text__adres Cоветский р-н, ул. Красноармейская 121
                .projects__item
                    img(src="../img/index/project3.jpg", alt="")
                    .status-wrapper
                        span.status.status-finish Сдан
                        a(href="").status.status__id ID дома id: 26377
                    .item-text 
                        .item-text__wrapper
                            h3.item-text__head ЖК «Самолёт», поз. 2
                            p.item-text__date 2020 - 2021 г.
                        p.item-text__adres Cоветский р-н, ул. Красноармейская 119
                .projects__item
                    img(src="../img/index/project4.jpg", alt="")
                    .status-wrapper
                        span.status.status-finish Сдан
                        a(href="").status.status__id ID дома: 36226
                    .item-text 
                        .item-text__wrapper
                            h3.item-text__head ЖК «Идиллия Лайф», поз. 2
                            p.item-text__date 2019 - 2020 г.
                        p.item-text__adres Бежицкий р-н, ул. Бежицкая 297 Б
                .projects__item
                    img(src="../img/index/project5.jpg", alt="")
                    .status-wrapper
                        span.status.status-finish Сдан
                        a(href="").status.status__id ID дома: 32699
                    .item-text 
                        .item-text__wrapper
                            h3.item-text__head ЖК «Идиллия Лайф», поз. 1
                            p.item-text__date 2018 - 2019 г.
                        p.item-text__adres Бежицкий р-н, ул. Бежицкая 297 А
                .projects__item
                    img(src="../img/index/project6.jpg", alt="")
                    .status-wrapper
                        span.status.status-finish Сдан
                        a(href="").status.status__id ID дома: 25003
                    .item-text 
                        .item-text__wrapper
                            h3.item-text__head ЖК «Идиллия»
                            p.item-text__date 2017 - 2018 г.
                        p.item-text__adres Бежицкий р-н, ул. Бежицкая 279 А
    section.index-about 
        .container 
            .index-about__wrapper 
                .index-about__content
                    img(src="../img/svg/logo.svg", alt="")
                    p ГК «Регион» успешно работает на российском рынке с 2014 года и является одним из лидеров в девелопменте жилой и коммерческой недвижимости.
                    p Мы ценим комфорт жизни и строим с любовью, как себе.
                    a(href="") О компании
    
    section.article-index 
        .container
            h3.section-title Наши Новости
                a(href="articles.html").all-articles Все новости
                .slider-arrows
                    .swiper-button-prev.swiper-button-prev-articles     
                    .swiper-button-next.swiper-button-next-articles        
            .articles__slider.swiper.js-articlesSlider1 
                ul.articles__list.swiper-wrapper
                    li.articles__item.swiper-slide
                        a(href="article.html").articles__block  
                            .articles__img 
                                img(src="../img/catalog/news1.jpg", alt="Новость")
                            .articles__description  
                                p.articles__date 22.09.2022  
                                h6.articles__title Стартует выдача ключей 2-ой позиции в ЖК «Самолёт». Поздравляем собственников!
                                p.articles__text Это будет двухэтажное здание в составе первой очереди строительства.
                                    span.articles__details Подробнее
                    li.articles__item.swiper-slide 
                        a(href="article.html").articles__block  
                            .articles__img 
                                img(src="../img/catalog/news2.jpg", alt="Новость")
                            .articles__description 
                                p.articles__date 02.09.2022   
                                h6.articles__title В ЖК «Скандинавия» откроется детский сад с центром развития
                                p.articles__text Это будет двухэтажное здание в составе первой очереди строительства.
                                    span.articles__details Подробнее
                    li.articles__item.swiper-slide 
                        a(href="article.html").articles__block  
                            .articles__img 
                                img(src="../img/catalog/news3.jpg", alt="Новость")
                            .articles__description   
                                p.articles__date 15.08.2022
                                h6.articles__title В клубном доме Noble завершена кладка стен и перегородок
                                p.articles__text Это будет двухэтажное здание в составе первой очереди строительства.
                                    span.articles__details Подробнее
                    li.articles__item.swiper-slide 
                        a(href="article.html").articles__block  
                            .articles__img 
                                img(src="../img/catalog/news1.jpg", alt="Новость")
                            .articles__description  
                                p.articles__date 22.09.2022   
                                h6.articles__title Как стать самозанятым и начать декларировать свой заработок
                                p.articles__text Это будет двухэтажное здание в составе первой очереди строительства.
                                    span.articles__details Подробнее  

                    
                     

            
