main(class=`main main-${page}`)
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    h1.descriptor__head.descriptor__head-sales В ЖК «Скандинавия» откроется детский сад с центром развития
                    .descriptor__text-block.descriptor__text-block-sales 
                        p Это будет двухэтажное здание в составе первой очереди строительства.
        .descriptor__gallery.descriptor__news

    section.news 
        .container.page 
            h3 Инновационное учреждение
            p Застройщик получил разрешение на строительство детского сада «Лесной ручей» на 220 мест в поселении Сосенское Новой Москвы, сообщил руководитель Департамента градостроительной политики столицы Сергей Лёвкин.
            p Двухэтажное здание с подземным этажом возведут на территории жилого комплекса «Скандинавия» в поселке Коммунарка. Его площадь составит почти 3,6 тыс. кв. метров.
            .quote
                p.quote__text Садик разместится в северной части ЖК. Инвестор планирует передать его в собственность города Москвы. Территорию вокруг здания благоустроят и озеленят. Деревья и кустарники максимально сохранят
                p.quote__name Сергей Лёвкин, 
                p.quote__post руководитель Департамента градостроительной политики столицы Сергей Лёвкин

            p Руководитель Департамента добавил, что жилой комплекс «Скандинавия» строится на границе Бутовского лесопарка. На его территории уже открыто пять детских садов и школа.
            p Застройщик получил разрешение на строительство детского сада «Лесной ручей» на 220 мест в поселении Сосенское Новой Москвы, сообщил руководитель Департамента градостроительной политики столицы Сергей Лёвкин.
            p Двухэтажное здание с подземным этажом возведут на территории жилого комплекса «Скандинавия» в поселке Коммунарка. Его площадь составит почти 3,6 тыс. кв. метров.
            h3 Комфортная подготовка к школе
            p Застройщик получил разрешение на строительство детского сада «Лесной ручей» на 220 мест в поселении Сосенское Новой Москвы, сообщил руководитель Департамента градостроительной политики столицы Сергей Лёвкин.
            p Двухэтажное здание с подземным этажом возведут на территории жилого комплекса «Скандинавия» в поселке Коммунарка. Его площадь составит почти 3,6 тыс. кв. метров.
            img(src="../img/catalog/news-img.jpg", alt="")   
            p Застройщик получил разрешение на строительство детского сада «Лесной ручей» на 220 мест в поселении Сосенское Новой Москвы, сообщил руководитель Департамента градостроительной политики столицы Сергей Лёвкин.
            p Руководитель Департамента добавил, что жилой комплекс «Скандинавия» строится на границе Бутовского лесопарка. На его территории уже открыто пять детских садов и школа.


            
