block variables
    - var title = 'О компании'
    - var page = 'about'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/about
        include html/static/footer
        