.articles-list {
    margin-top: 30px;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__items{
        margin-top: 40px;
        width: 358px;
        height: 395px;
        display: flex;
        flex-direction: column;
        position: relative;
        &:hover, &:active {
            & .articles-list__title{
                color: #799E3E;
            }
            & .articles-list__text  {
                max-height: 300px;
            }
        }
    }
    &__img {
        
        img{
            border-radius: 10px;
        }
    }
    &__date{
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        opacity: 0.6;
        margin-top: 15px;
    }
    &__title{
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        margin-top: 7px;
        &:hover, &:active {
            color: #799E3E;
        }
    }
    &__text{
        margin-top: 7px;
        transition: all 1s ease;
        overflow: hidden;
        max-height: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
    &__description{
        position: absolute;
        bottom: 0;
        left: 0;
        background: $white;
        overflow: hidden;
       
      
    }

}