block variables
    - var title = 'Банки-партнеры'
    - var page = 'banks'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/banks
        include html/static/footer
        