block variables
    - var title = 'Семья ГК Регион'
    - var page = 'family'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/family
        include html/static/footer
        script
            include js/onpage/example.js