block variables
    - var title = 'Новости'
    - var page = 'news'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/news
        include html/static/footer
