.page {
    .quote{
        padding-left: 93px;
        position: relative;
        width: 927px;
        &::before{
            content:url(../img/svg/qoute.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 49px;
            height: 32px;
        }
        &::after{
            content:"";
            position: absolute;
            top: 0;
            left: 70px;
            width: 3px;
            height: 137px;
            background-color: $green;
        }
        &__text{
            font-style: italic;
            margin-bottom: 9px;
            font-weight: 600;
            font-size: 16px;
        }
        &__name{
            color: #212121;
            font-size: 16px;
            line-height: 158%;
        }
        &__post{
            font-size: 13px;
            line-height: 158%;
            margin-top: 0;
        }
    
    }
}
