.all-projects{
    margin-top: 70px;
    &__wrapper{
        
        margin-bottom: 45px;
    }
    &-title{
        font-family: 'Arno Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 120%;
        letter-spacing: 0.02em;
        margin-bottom: 53px;
    }
    &__all{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $green;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    &__item{
        width: 100%;
        margin-bottom: 50px;
        position: relative;
        .all-projects__item-wrapper {
            position: absolute;
            top: 25%;
            left: 23px;
            z-index: 100;
            color: $white;
            
        }
        .all-projects__item-desc{
            font-size: 16px;
            line-height: 145%;
            width: 385px;
        }
        .swiper-pagination-information{
            position: absolute;
            bottom:95px;
            left: 20px;
            z-index: 100;
        }
        .status-wrapper{
            position: absolute;
            top:15px;
            left: 20px;
            z-index: 100;
        }
        .status{
            padding: 2px 10px;
            border-radius: 20px;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
            color: $white;
        }
        .status-build{
            background-color: #1E60C4;
        }
        .status-finish{
            background-color: $green;
        }
        .status__id{
            background-color: $white;
            margin-left: 8px;
            color: $gray;
        }
    }
    
}
.item-text{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
    }
    &__heading{
        font-family: 'Arno-Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 39px;
        margin-bottom: 12px;
    }
    &__date{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    &__adress{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #848484;
       
    }
    &__list{
        display: flex;
    }
    &__list-item{
        margin-right: 20px;
        padding-left: 38px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        &:last-child{
            margin-right: 55px;
        }
    }
    .item1{
        &::before{
            content: url(../../img/svg/house.svg);
            top: 50%;
            left: 0;
            width: 26px;
            height: 26px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    .item2{
        &::before{
            content: url(../../img/svg/keys.svg);
            top: 50%;
            left: 0;
            width: 26px;
            height: 26px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    .item3{
        &::before{
            content: url(../../img/svg/date.svg);
            top: 50%;
            left: 0;
            width: 26px;
            height: 26px;
            position: absolute;
            transform: translateY(-50%);
        }
    }

}
