block variables
    - var title = 'Страница выбранного объекта'
    - var page = 'project'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/project
        include html/static/footer
        script
            include js/onpage/sliderPartners.js

        