.burger{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    
    &__burger-wrapper{
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 100vh;
        box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.09);
        background-color:$white;
        
        @media #{$lgm}{
            box-shadow: none;
            background-color: transparent;
            height:auto;
            top: 10px;
           
        }
        @media #{$esm}{
            
            top: 10px;
        }
        
    }
    .shadow::before{
        content: '';
        background: #000;
        position: fixed; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        opacity: 0.7;
        z-index: 0;
    }
   
    &__burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        width: 70px;
        
        border-radius: 7px;
        padding: 14px 11px;
        
        .transform__text{
            transform: translateY(30px) rotate(90deg) ;
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            opacity: 1;
            letter-spacing: 0.27em;
            text-transform: uppercase;
            @media #{$lgm}{
                display: none;
            }
        }
        & span:nth-child(3) {
            
        }
        &-button {
            position: relative;
            display: block;
            width: 36px;
            height: 2px;
            background-color: $gray;
            transition: transform 0.3s ease-in-out;
            
            &:not(:last-of-type) {
                margin-bottom: 9px;
            }
        }
        &.active {
            position: relative;
            z-index: 5;
            & span:first-child {
                transform: rotate(45deg);
                top: 11px;
                left: -1px;
            }
            & span:nth-child(2) {
                transform: rotate(-45deg);
                top: 0px;
                left: -1px;
            }
            & span:nth-child(3) {
                display: none;
                transform: rotate(-45deg);
                top: -11px;
                left: -1px;
                
            }
            & .transform__text{
                opacity: 0;
            }

           
        }
    }
    .menu__wrapper{
        width: 385px;
        height: 100%;
        position: fixed;
        box-sizing: border-box;
        overflow: hidden;
        top: 0;
        right: -100%;
        background-color: white;
        transition: .6s;
        @media #{$esm}{
            width: 100%;
        }
        &::after{
            content:url(../img/catalog/branch.png);
            position: absolute;
            bottom: 210px;
            right: -215px;
            width: 410px;
            height: 293px;

        }
        
        ul{
            margin-top: 100px;
            margin-left: 45px;
            height: 53vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &.active {
            right: 0;
            & .menu__content {
                right: 0;
            }
            
            
        }
        .menu__link{
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            @include hover
        }
        
        .item2{
            position: relative;
            padding-left: 13px ;
            &::before{
                content: url(../img/svg/burger-home.svg);
                position: absolute;
                top: -11px;
                left: 0;
                width: 28px;
                height: 29px;
            }
        }
    }
    .menu__content {
        top: 100px;
        position: absolute;
        transition: 0.6s;
        right: -100%;
        height: 100%;
        margin-left: auto;
        max-width: 576px;
        min-width: 370px;
        display: flex;
        flex-direction: column;
        background: $white;
        
        @media #{$esm} {
            width: 100%;
            min-width: initial;
        }
        & .slinky-theme-default {
            background: $white;
            overflow-y: auto;
        }
        & .slinky-theme-default ul li{
            border-bottom: 1px solid #cdd0cb;
        }
        & .slinky-menu .header span{
            
            font-size: 2.4rem;
            line-height: 1.5;
            color: $black;
            padding-left: 0;
        }
        & .slinky-menu.slinky-theme-default a:not(.back) span, .slinky-theme-default .next:not(.back) > span {
            font-size: 2.4rem;
            line-height: 1.5;
            color: $black;
            padding: 20px 15px;
            @media #{$sm} {
                padding: 15px;
                font-size: 2rem;
            }
        }
        & .slinky-menu.slinky-theme-default .next:not(.back):hover{
            
        }
        & .slinky-menu.slinky-theme-default .next:not(.back):hover span{
            color: #000;
        }
        & .slinky-menu.slinky-theme-default .next::after{
            background: url(../img/svg/arrow-r.svg) center no-repeat;
            opacity: 1;
        } 
        & .slinky-menu.slinky-theme-default .back-icon{
            background: url(../img/svg/arrow-l.svg) center no-repeat;
            opacity: 1;
        } 
      }
      .menu__footer {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid #D9D9D9;
        &-phone{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 26px;
            span{
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                display: block;
                margin-left: 9px;
            
            }
            
        }
        .btn {
            padding: 5px 70px;
        }
        & .header__messenger {
            display: none;
        }
      }
      .menu__footer-contact {
        display: none;
        font-family: $montserrat;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.5;
        
        color: $black;
        
        }
      .menu__footer-callback {
        
      }
}