.main-family{
    .descriptor{
        &__text-block{
            @media #{$esm}{
                text-align: left;
            }
        }
    }
}
.family {
    &__items{
        margin-top: 76px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items:center;
        
        margin-bottom: 47px;

        .link{
            margin-top: 26px;
            padding-left: 24px;
            font-weight: 600;
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 3px;
                left: 0;
                width: 14px;
                height: 16px;
                background-image: url(../img/svg/cursor.svg);
                background-color: transparent;
            }
        }
    }
    &__item-text{
        width: 611px;
        @media #{$lg}{
            width: 50%;
        }
        @media #{$esm}{
            width: 100%;
        }
    }
    &__item-title{
        font-weight: 400;
        font-size: 46px;
        line-height: 55px;
        letter-spacing: 0.02em;
        margin-top: 28px;
        @media #{$sm}{
            font-weight: 400;
            font-size: 32px;
            line-height: 115%;
            margin-top: 0;
        }
        @media #{$sm}{
            font-weight: 400;
            font-size: 35px;
            line-height: 120%;
            margin-top: 0;
        }
        @media #{$esm}{
            font-weight: 400;
            font-size: 28px;
            line-height: 120%;
            margin-top: 0;
        }
    }
    &__item-subtitle{
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        color: $l-gray;
        margin-top: 14px;
    }
    &__item-desc{
        font-weight: 500;
        font-size: 16px;
        line-height: 165%;
        margin-top: 23px;
    }
    &__item-contacts{
        margin-top: 27px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        @media #{$sm}{
            margin-top: 20px;
        }
        .title-contact{
            font-weight: 500;
            font-size: 13px;
            line-height: 110%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color:$l-gray;
        }
        .phone{
            padding-right: 12px;
            position: relative;
            margin-top: 6px;
            display: inline-block;
            &::after{
                content:"|";
                position: absolute;
                top: -3px;
                right: 0;
                color: $gray;
            }
            &:hover{
                color: $green;
            }
        }
        .mail{
            margin-left: 12px;
        }
    }
    &__item-img{
        
        width: 451px;
        height: 650px;
        background-attachment: fixed;
        background-position: 89% 37%;
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: cover;
        @media #{$md}{
            width: 376px;
            height: 542;
            background-position: 158% 37%;
            
        }
        @media #{$sm}{
            width: 277px;
            height: 399px;
            margin-top: 50px;
            background-position: 281% 37%;
        }
        @media #{$esm}{
            display: none;
        }
    }
   
    
}