.header{
    position: relative;
    height: 66px;
    @media #{$lgm}{
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    }
    
    &__mobile-logo{
        display: none;
        width: 110px;
        height: 100%;
        
        @media #{$esm}{
            display: block;

        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        padding: 35px 0 26px 0;
        align-items: center;
        position: relative;
        @media #{$lgm}{
            padding: 17px 0;
        }
        @media #{$sm}{
            justify-content: flex-start;
            column-gap: 2%;
           
        }

        @media #{$esm}{
            justify-content: space-between;
            column-gap:normal;
            padding: 0;
            height: 66px;
        }
        .header__mobile-phone{
            display: none;
            @media #{$esm}{
                display: block;
                position: absolute;
                top: 55%;
                right: 57px;
                transform: translateY(-50%);
            }
        }
    }
    &__links{
        display: flex;
        @media #{$md}{
            width: 60%;
            justify-content: space-between;
        }
        @media #{$sm}{
            width: 64%;
            justify-content: space-between;
        }
        @media #{$esm}{
            display: none;
        }
    }
    &__link:not(:last-child){
        margin-right: 35px;
        @media #{$md}{
            margin-right: 3%;
        }
    }
    &__link-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        @include hover;
        @media #{$sm}{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__phone{
        font-weight: 600;
        font-size: 18px;
        line-height: 39px;
        color: $gray;
        @include hover;
        @media #{$lg}{
            margin-right: 80px;
        }
        @media #{$md}{
            margin-right: 80px;
        }
        @media #{$sm}{
            margin-right: 0px;
        }
        @media #{$esm}{
            display: none;
        }
    }
    
}