header.header
    .container 
        nav.header__nav 
            ul.header__links 
                li.header__link.header__link-item-1
                    a.header__link-text(href="") Главная
                li.header__link.header__link-item-1
                    a.header__link-text(href="") Наши объекты
                li.header__link.header__link-item-1
                    a.header__link-text(href="") О компании
                li.header__link.header__link-item-1
                    a.header__link-text(href="") Контакты
            .header__contacts 
                a.header__phone(href="tel:+74832303009") +7 (4832) 30-30-09
            //- .header__burger-wrapper
                .header__burger.js-menuBurger
                    span 
                    span 
                    span 
                .menu__wrapper.js-menuWrap
                    .js-menu.slinky-menu.slinky-theme-default(style='transition-duration: 300ms;')
                        ul(style='transition-duration: 300ms;')
                            li
                                a(href="services.html") Услуги
                                ul 
                                    li
                                        a(href="ip.html") Для ИП
                                    li
                                        a(href="ooo.html") Для ООО
                                    li
                                        a(href="samozanyat.html") Для самозанятых
                                    li
                                        a(href="fiz.html") Для физических лиц
                            li
                                a(href="about.html") О компании
                            li
                                a(href="reviews.html") Отзывы
                            li
                                a(href="faq.html") FAQ
                            li
                                a(href="articles.html") Полезное
                            li
                                a(href="contacts.html") Контакты//