.burger 
    
    .burger__burger-wrapper
    
        .burger__burger.js-menuBurger
            span.burger__burger-button 
            span.burger__burger-button 
            span.burger__burger-button 
            span.transform__text Меню
        
        .menu__wrapper.js-menuWrap
            
            .js-menu.slinky-menu.slinky-theme-default
                ul.menu__links
                    li.menu__item.item1
                        a.menu__link(href="") Главная
                        
                    li.menu__item.item2.menu__link--catalog
                        a.menu__link(href="projects.html") Наши объекты
                        ul.menu__links
                            li
                                a(href="") Для ИП
                            li
                                a(href="") Для ООО
                            li
                                a(href="") Для самозанятых
                            li
                                a(href="") Для физических лиц
                    li.menu__item.item3
                        a.menu__link(href="family.html") Семья ГК «Регион»
                    li.menu__item.item4
                        a.menu__link(href="about.html") О компании
                    li.menu__item.item5
                        a.menu__link(href="articles.html") Наши новости
                    li.menu__item.item6
                        a.menu__link(href="banks.html") Банки-партнеры
                    li.menu__item.item7
                        a.menu__link(href="contacts.html") Контакты
            .menu__footer
                a(href="tel: +74832303009").menu__footer-phone 
                    img(src="../img/svg/menu-phone.svg", alt="")
                    span +7 (4832) 30-30-09
                a.menu__footer-callback.btn.load--callback(href='') Отдел продаж