footer(class=`footer footer-${page}`)
    .container  
        .footer__wrapper 
            img(src="../img/svg/footer-logo.svg", alt="")
            .footer__contacts 
                .footer__contact
                    h6.footer__title центральный офис
                    a.footer__phone(href="tel:+74832595542") +7 (4832) 595-542
                    p.footer__adress Брянск, ул. Молодой Гвардии 4
                .footer__contact
                    h6.footer__title отдел продаж
                    a.footer__phone(href="tel:+74832303009") +7 (4832) 30-30-09
                    p.footer__adress Брянск, ул. Красноармейская 100, оф. 426
            .footer__links
                ul.footer__links-list   
                    li.footer__link 
                        a(href="projects.html") Объекты
                    li.footer__link 
                        a(href="sales.html") Отдел продаж
                    li.footer__link 
                        a(href="about.html") О компании
                    li.footer__link 
                        a(href="contacts.html") Контакты
            .footer__copyright
                a.footer__yandex-reviews Яндекс отзывы о нас
                a.policy Политика обработки персональных данных
                p.copyright Все права защищены 2014 - 2022 © ГК «Регион»
                img.footer__rband(src="../img/svg/Rband.svg", alt="")