header.header
    .container 
        
        nav.header__nav 
            img.header__mobile-logo(src="../img/svg/main-logo.svg", alt="")
            a.header__mobile-phone(href="tel: +74832303009") 
                img(src="../img/svg/mobile-phone.svg")
            ul.header__links 
                li.header__link.header__link-item-1
                    a.header__link-text(href="index.html") Главная
                li.header__link.header__link-item-1
                    a.header__link-text(href="projects.html") Наши объекты
                li.header__link.header__link-item-1
                    a.header__link-text(href="about.html") О компании
                li.header__link.header__link-item-1
                    a.header__link-text(href="contacts.html") Контакты
            .header__contacts 
                a.header__phone(href="tel:+74832303009") +7 (4832) 30-30-09
    
          
    