main.main.main-about
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    p.descriptor__text-logo.descriptor__text-logo-about группа компаний
                        span РЕГИОН

                    .descriptor__text-block.descriptor__text-block-about 
                        p Компания качественного строительства!
                        
        .descriptor__gallery.descriptor__about(style="background-image: url(../img/catalog/descriptor-about.jpg);")
            .container
                .descriptor__wrapper 
                    .descriptor__wrapper-left1
                        img(src="../img/catalog/about-person.png", alt="")
                    .descriptor__wrapper-right1
                        h1.descriptor__gallery-head Индивидуальный подход к каждому проекту
                        p.descriptor__gallery-desc Здесь будет краткое обращение/личная история на букваьно на 2 предложения. Здесь будет краткое обращение/личная история на букваьно на 2 предложения. 
                        p.descriptor__gallery-desc_name Полянин Александр Валерьевич
                        p.descriptor__gallery-desc_post Руководитель ГК «Регион»
    .descriptor__wrapper-mobile
        .container
            h1.descriptor__gallery-head Индивидуальный подход к каждому проекту
            p.descriptor__gallery-desc Здесь будет краткое обращение/личная история на букваьно на 2 предложения. Здесь будет краткое обращение/личная история на букваьно на 2 предложения. 
            p.descriptor__gallery-desc_name Полянин Александр Валерьевич
            p.descriptor__gallery-desc_post Руководитель ГК «Регион»
                
    section.advantages 
        .container.advantages__relative 
            .advantages__wrapper 
                .advantages__left 
                    h2.advantages__title Мы создаём среду для комфорта!
                    .advantages__items 
                        h4.advantages__item-title.item1(style="background-image: url(../img/svg/1.svg); background-repeat: no-repeat; backround-position: left center; background-size: 53px 53px") Надежность и ответственность
                        p.advantages__item-desc Мы сотрудничаем с проверенными подрядчиками, благодаря которым наши объекты сдаются вовремя, соотвествуют высокому стандарту качества и обладают немаловажной эстетикой.
                        h4.advantages__item-title.item2(style="background-image: url(../img/svg/2.svg); background-repeat: no-repeat; background-position: left center; background-size: 53px 53px") С любовью к клиенту
                        p.advantages__item-desc Мы не являемся застройщиком-гигантом, но это позволяет нам максимально индивидуально подходить к каждому проекту и осуществлять строгий контроль качества.
                        h4.advantages__item-title.item3(style="background-image: url(../img/svg/3.svg); background-repeat: no-repeat; background-position: left center; background-size: 53px 53px") в ногу со временем
                        p.advantages__item-desc Мы берём во внимание потребительский опыт и особенности течения жизни в нашем городе, чтобы создавать проекты, соответствующие ожиданиям покупателей, современным тенденциям строительства.
                        h4.advantages__item-title.item4(style="background-image: url(../img/svg/4.svg); background-repeat: no-repeat; background-position: left center; background-size: 53px 53px") профессионализм 
                        p.advantages__item-desc Качественное строительство – это прежде всего высокий уровень профессионализма специалистов и степень их личной отвественности за то, что каждый из них делает.

                .advantages__right 
                    a.advantages__document-link(href="img/files/rosreestr.pdf", target="_blank")
                        img.advantages__document(src="../img/catalog/about-document.png", alt="")
                        p Смотреть выписку из реестра членов СРО
                    .advantages__document-keys