main.main.main-articles
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    h1.descriptor__text-logo Наши новости

                    .descriptor__text-block 
                        p Следите за самыми актуальными новостями компании и наших объектов.  
                        
        
    section.articles-list 
        .container
            .articles-list__wrapper
                a(href="#").articles-list__items
                    .articles-list__img 
                        img(src="img/catalog/news1.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title Стартует выдача ключей 2-ой позиции в ЖК «Самолёт».
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items 
                    .articles-list__img 
                        img(src="img/catalog/news2.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В ЖК «Скандинавия» откроется детский сад с центром развития
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items  
                    .articles-list__img 
                        img(src="img/catalog/news3.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В клубном доме Noble завершена кладка стен и перегородок 
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items
                    .articles-list__img 
                        img(src="img/catalog/news1.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title Стартует выдача ключей 2-ой позиции в ЖК «Самолёт».
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items 
                    .articles-list__img 
                        img(src="img/catalog/news2.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В ЖК «Скандинавия» откроется детский сад с центром развития
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items  
                    .articles-list__img 
                        img(src="img/catalog/news3.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В клубном доме Noble завершена кладка стен и перегородок 
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items
                    .articles-list__img 
                        img(src="img/catalog/news1.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title Стартует выдача ключей 2-ой позиции в ЖК «Самолёт».
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items 
                    .articles-list__img 
                        img(src="img/catalog/news2.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В ЖК «Скандинавия» откроется детский сад с центром развития
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items  
                    .articles-list__img 
                        img(src="img/catalog/news3.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В клубном доме Noble завершена кладка стен и перегородок 
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items
                    .articles-list__img 
                        img(src="img/catalog/news1.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title Стартует выдача ключей 2-ой позиции в ЖК «Самолёт».
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items 
                    .articles-list__img 
                        img(src="img/catalog/news2.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В ЖК «Скандинавия» откроется детский сад с центром развития
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items  
                    .articles-list__img 
                        img(src="img/catalog/news3.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В клубном доме Noble завершена кладка стен и перегородок 
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items
                    .articles-list__img 
                        img(src="img/catalog/news1.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title Стартует выдача ключей 2-ой позиции в ЖК «Самолёт».
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items 
                    .articles-list__img 
                        img(src="img/catalog/news2.jpg", alt="Новость")
                    .articles-list__description    
                        p.articles-list__date 22.09.2022
                        h3.articles-list__title В ЖК «Скандинавия» откроется детский сад с центром развития
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
                a(href="#").articles-list__items  
                    .articles-list__img 
                        img(src="img/catalog/news3.jpg", alt="Новость")
                    .articles-list__description
                        p.articles-list__date 22.09.2022    
                        h3.articles-list__title В клубном доме Noble завершена кладка стен и перегородок 
                        p.articles-list__text Это будет двухэтажное здание в составе первой очереди строительства.
            include ../components/pagination