main.main.main-family
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    .descriptor__text-adress 
                        h1 Семья ГК Регион
                    .descriptor__text-block 
                        p Семья ГК «Регион» – это девелоперская компания полного цикла. Мы работаем в связке с друг с другом и создаем проекты, которыми можем гордиться. 
                        
        .descriptor__gallery.descriptor__family(style="background-image: url(../img/catalog/family-descriptor-bg.jpg);")
            
    section.family
        .container
            .family__items
                .family__item 
                    .family__item-text 
                        img.family__item-logo(src="../img/svg/family_item1.svg", alt="")
                        h3.family__item-title Брянское жилищное бюро
                        h4.family__item-subtitle Агентство аренды и продажи недвижимости
                        p.family__item-desc Компания ООО «БЖБ» с 2015 года осуществляет функции отдела продаж брянского застройщика ООО «Регион». На протяжении уже многих лет мы реализуем на эксклюзивных правах всю недвижимость нашего партнера во всех его проектах ЖК «Идиллия», ЖК «Идиллия Лайф» и ЖК «Самолет».
                        .family__item-contacts 
                            p.title-contact Контакты:
                            a.phone(href="") +7 (4832) 30-30-09 
                            a.mail(href="") bhb-bryansk@yandex.ru
                            p Брянск, ул. Красноармейская 100, оф. 426
                        a.link(href="") бжб.рф
                    .family__item-img.img1(style="background-image: url(../img/catalog/family1.jpg)")
                .family__item 
                    .family__item-text 
                        img.family__item-logo(src="../img/svg/family_item2.svg", alt="")
                        h3.family__item-title Электросервис
                        h4.family__item-subtitle Электромонтажные работы
                        p.family__item-desc Предприятие ООО "Электросервис" занимается осуществлением электромонтажных работ производственных объектов, общественных и жилых зданий. Компания выполненяет работы с соблюдением всех временных и договорных условий. На все выполненные работы компания несет гарантийные обязательства и строго их соблюдает.
                        .family__item-contacts 
                            p.title-contact Контакты:
                            a.phone(href="") +7 (4832) 595 - 542   
                            a.mail(href="") elektro-32@yandex.ru
                            p Брянск, ул. Молодой Гвардии, д. 4
                        a.link(href="") electro-32.ru
                    .family__item-img.img2(style="background-image: url(../../img/catalog/family2.jpg)")
                .family__item 
                    .family__item-text 
                        img.family__item-logo(src="", alt="")
                        h3.family__item-title Регионспецстрой
                        h4.family__item-subtitle Застройщик ООО «СЗ Регионспецстрой»
                        p.family__item-desc Информация о застройщике. Далее информация под замену: электромонтажных работ производственных объектов, общественных и жилых зданий. Компания выполненяет работы с соблюдением всех временных и договорных условий. На все выполненные работы компания несет гарантийные обязательства и строго их соблюдает.
                        .family__item-contacts 
                            p.title-contact Контакты:
                            a.phone(href="") +7 (4832) 595 - 542
                            a.mail(href="")  elektro-32@yandex.ru
                            p Брянск, ул. Красноармейская 100, оф. 426
                        
                    .family__item-img.img3(style="background-image: url(../../img/catalog/family3.jpg)")
                .family__item 
                    .family__item-text 
                        img.family__item-logo(src="", alt="")
                        h3.family__item-title Госстройинвест 
                        h4.family__item-subtitle Застройщик ООО «СЗ Гостройинвест»
                        p.family__item-desc Информация о застройщике. Далее информация под замену: электромонтажных работ производственных объектов, общественных и жилых зданий. Компания выполненяет работы с соблюдением всех временных и договорных условий. На все выполненные работы компания несет гарантийные обязательства и строго их соблюдает.
                        .family__item-contacts 
                            p.title-contact Контакты:
                            a.phone(href="") +7 (4832) 595 - 542 
                            a.mail(href="") elektro-32@yandex.ru
                            p Брянск, ул. Молодой Гвардии, д. 4
                        
                    .family__item-img.img4(style="background-image: url(../../img/catalog/family4.jpg)")
        
