
main.main.main-project
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    .descriptor__text-adress 
                        h1.descriptor__project-title ЖК Идиллия Лайф, поз. 2
                        a.descriptor__project-link(href="") Посмотреть на наш.дом.ру
                        p Зелёный уголок уюта в недалеко от центра Брянска. Здесь сочетаются удобство и технологичность. 
                    .descriptor__text-block 
                        p Зелёный уголок уюта в недалеко от центра Брянска. Здесь сочетаются удобство и технологичность. 
                        a.descriptor__project-link(href="") На наш.дом.ру
                        
        .descriptor__gallery.descriptor__project
            .container.relative
            .slider-arrows
                .swiper-button-prev.swiper-button-prev-articles     
                .swiper-button-next.swiper-button-next-articles   
            .partners__slider.swiper.js-articlesSlider 
                .partners__list.swiper-wrapper.js-articlesSlider 
                    .partner__item.swiper-slide
                        img(src='../img/catalog/descriptor-project.jpg', alt="Ассоциация «Брянское объединение строителей»")
                    .partner__item.swiper-slide 
                        img(src='../img/catalog/descriptor-project.jpg', alt="«Национальное объединение строителей»")
                    .partner__item.swiper-slide
                        img(src='../img/catalog/descriptor-project.jpg', alt="Агрохолдинг «Охотно»")
            
    section.project 
        .container 
            .project__wrapper 
                .project__desc 
                    h2 Об объекте
                    .project__desc-text.js-textWrap
                        p.about__text Полностью кирпичный дом по классической технологии! Вы получаете квартиру с повышенной тепло и звукоизоляцией!
                        p.about__text Индивидуальное отопление в каждой квартире! Экономия на коммунальных платежах до 28%. Кроме того это комфортно, никаких профилактических отключений горячей воды.
                        p.about__text Пластиковые окна с двухкамерным стеклопакетом! Это красиво и удобно. Наслаждайтесь видами на ночной Брянск и величавую Десну.
                        ul(style="list-style-type: disc;") 
                            li пункт 1
                            li пункт 2
                            li пункт 3

                        p.about__text Полностью кирпичный дом по классической технологии! Вы получаете квартиру с повышенной тепло и звукоизоляцией!
                        p.about__text Индивидуальное отопление в каждой квартире! Экономия на коммунальных платежах до 28%. Кроме того это комфортно, никаких профилактических отключений горячей воды.
                        p.about__text Пластиковые окна с двухкамерным стеклопакетом! Это красиво и удобно. Наслаждайтесь видами на ночной Брянск и величавую Десну.
                        
                    .project__desc-show.js-textMore Подробнее
                .project__list 
                    ul.project__list-items 
                        li.project__list-item.item1(style="background-image: url(../img/svg/advantages-icon1.svg); background-repeat: no-repeat; background-position: left center; background-size: 66px") современная система «умный дом»
                        li.project__list-item.item2(style="background-image: url(../img/svg/advantages-icon2.svg); background-repeat: no-repeat; background-position: left center; background-size: 66px") индивидуальное отопление 
                        li.project__list-item.item3(style="background-image: url(../img/svg/advantages-icon3.svg); background-repeat: no-repeat; background-position: left center; background-size: 71px") дом из кирпича
    section.articles 
        .container
            h3.section-title.section-title--arrows Важные детали
                .slider-arrows
                    .swiper-button-prev.swiper-button-prev-articles     
                    .swiper-button-next.swiper-button-next-articles        
            .articles__slider.swiper.js-articlesSlider1 
                ul.articles__list.swiper-wrapper
                    li.articles__item.swiper-slide
                        a(href="article.html").articles__block  
                            .articles__img 
                                img(src="../img/catalog/projects-gallery1.jpg", alt="Новость")
                            .articles__description    
                                h6.articles__title Просторные проходы в подъезде
                    li.articles__item.swiper-slide 
                        a(href="article.html").articles__block  
                            .articles__img 
                                img(src="../img/catalog/projects-gallery2.jpg", alt="Новость")
                            .articles__description    
                                h6.articles__title Детская площадка с безопасным покрытием
                    li.articles__item.swiper-slide 
                        a(href="article.html").articles__block  
                            .articles__img 
                                img(src="../img/catalog/projects-gallery3.jpg", alt="Новость")
                            .articles__description    
                                h6.articles__title Большая огороженная парковка только для жителей дома
    section.project__map#map
        .project__map-1
    
                     

            

