main.main.main-projects
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    h1.descriptor__head-projects Наши объекты
                    .descriptor__text-block 
                        p Активно внедряем цифровые технологии в проектировании и строительстве.
                        p Строим с любовью, как себе.
        .descriptor__gallery.descriptor__projects(style="background-image: url(../img/catalog/descriptor-projects.jpg);")
    section.all-projects 
        .container 
            h2.all-projects-title Строящиеся объекты
            .all-projects__items 
                .all-projects__item
                    a(href="project.html")
                        .all-projects__item-wrapper 
                            h3.item-text__heading ЖД «Бурова 2B»
                            p.all-projects__item-desc Здесь не хватает краткого описания, как у ЖК “Самолёт”. 
                        .information__slider.swiper.js-infoSlider 
                            ul.information__slider-list.swiper-wrapper
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects1.jpg", alt="") 
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects1.jpg", alt="")
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects1.jpg", alt="")
                            .swiper-pagination-information
                        a(href="https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BA/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82/48783").status.status__id ID дома: 48783
                        .item-text 
                            .item-text__wrapper
                                .item-text__wrapper-content
                                    h3.item-text__heading ЖД «Бурова 2B»
                                    p.item-text__adress Бежицкий р-н, ул. Бурова 2B
                                    p.all-projects__item-desc Здесь не хватает краткого описания, как у ЖК “Самолёт”. 
                                ul.item-text__list 
                                    li.item-text__list-item.item1 кирпичный дом 
                                    li.item-text__list-item.item2 63 квартиры
                                    li.item-text__list-item.item3 2022 - наст. время
                            
                .all-projects__item
                    a(href="project.html")
                        .all-projects__item-wrapper 
                                h3.item-text__heading ЖК Самолёт, поз. 1
                                p.all-projects__item-desc Комфортный ЖК в центре Советского р-на напротив памятника Летчикам.
                        .information__slider.swiper.js-infoSlider 
                            ul.information__slider-list.swiper-wrapper
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects2.jpg", alt="") 
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects2.jpg", alt="")
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects2.jpg", alt="")
                            .swiper-pagination-information
                        a(href="https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BA/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82/46995").status.status__id ID дома: 46995
                        .item-text 
                            .item-text__wrapper
                                .item-text__wrapper-content
                                    h3.item-text__heading ЖК Самолёт, поз. 1
                                    p.item-text__adress Cоветский р-н, ул. Красноармейская 121
                                    p.all-projects__item-desc Комфортный ЖК в центре Советского р-на напротив памятника Летчикам.
                                ul.item-text__list 
                                    li.item-text__list-item.item1 кирпичный дом 
                                    li.item-text__list-item.item2 59 квартир
                                    li.item-text__list-item.item3 2021 - 2022 г.
            h2.all-projects-title Реализованные объекты
            .all-projects__items 
                .all-projects__item
                    a(href="project.html")
                        .all-projects__item-wrapper 
                            h3.item-text__heading ЖК Самолёт, поз. 2
                            p.all-projects__item-desc Комфортный ЖК в центре Советского р-на напротив памятника Летчикам
                        .information__slider.swiper.js-infoSlider 
                            ul.information__slider-list.swiper-wrapper
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects2.jpg", alt="") 
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects2.jpg", alt="")
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects2.jpg", alt="")
                            .swiper-pagination-information
                        a(href="https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BA/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82/26377").status.status__id ID дома id: 26377
                        .item-text 
                        
                            .item-text__wrapper
                                .item-text__wrapper-content
                                    h3.item-text__heading ЖК Самолёт, поз. 2
                                    p.item-text__adress Cоветский р-н, ул. Красноармейская 119
                                    p.all-projects__item-desc Комфортный ЖК в центре Советского р-на напротив памятника Летчикам.
                                ul.item-text__list 
                                    li.item-text__list-item.item1 кирпичный дом 
                                    li.item-text__list-item.item2 56квартиры
                                    li.item-text__list-item.item3 2020 - 2021 г.
                .all-projects__item
                    a(href="project.html")
                        .all-projects__item-wrapper 
                            h3.item-text__heading ЖК Идиллия Лайф, поз. 2
                            p.all-projects__item-desc Зелёный уголок уюта недалеко от центра Брянска
                        .information__slider.swiper.js-infoSlider 
                            ul.information__slider-list.swiper-wrapper
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects3.jpg", alt="") 
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects3.jpg", alt="")
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects3.jpg", alt="")
                            .swiper-pagination-information    
                        a(href="https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BA/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82/36226").status.status__id ID дома: 36226
                        .item-text 
                            .item-text__wrapper
                                .item-text__wrapper-content
                                    h3.item-text__heading ЖК Идиллия Лайф, поз. 2
                                    p.item-text__adress Бежицкий р-н, ул. Бежицкая 297 Б
                                    p.all-projects__item-desc Зелёный уголок уюта недалеко от центра Брянска
                                
                                ul.item-text__list 
                                    li.item-text__list-item.item1 кирпичный дом 
                                    li.item-text__list-item.item2 54 квартиры
                                    li.item-text__list-item.item3 2019 - 2020 г.
                .all-projects__item
                    a(href="project.html")
                        .all-projects__item-wrapper 
                            h3.item-text__heading ЖК Идиллия Лайф, поз.1
                            p.all-projects__item-desc Зелёный уголок уюта недалеко от центра Брянска
                        .information__slider.swiper.js-infoSlider 
                            ul.information__slider-list.swiper-wrapper
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects4.jpg", alt="") 
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects4.jpg", alt="")
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects4.jpg", alt="")
                            .swiper-pagination-information
                        a(href="https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BA/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82/32699").status.status__id ID дома: 32699
                        .item-text 
                            .item-text__wrapper
                                .item-text__wrapper-content
                                    h3.item-text__heading ЖК Идиллия Лайф, поз. 1
                                    p.item-text__adress Бежицкий р-н, ул. Бежицкая 297 А
                                    p.all-projects__item-desc Зелёный уголок уюта недалеко от центра Брянска
                                
                                ul.item-text__list 
                                    li.item-text__list-item.item1 кирпичный дом 
                                    li.item-text__list-item.item2 54 квартиры
                                    li.item-text__list-item.item3 2018 - 2019 г.
                .all-projects__item
                    a(href="project.html")
                        .all-projects__item-wrapper 
                            h3.item-text__heading ЖК Идиллия
                            p.all-projects__item-desc Малоэтажная застройка для комфортной жизни
                        .information__slider.swiper.js-infoSlider 
                            ul.information__slider-list.swiper-wrapper
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects5.jpg", alt="") 
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects5.jpg", alt="")
                                li.information__slider-item.swiper-slide 
                                    img(src="../img/catalog/projects5.jpg", alt="")
                            .swiper-pagination-information  
                        a(href="https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BA/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82/25003").status.status__id ID дома: 25003
                        .item-text 
                            .item-text__wrapper
                                .item-text__wrapper-content
                                    h3.item-text__heading ЖК Идиллия 
                                    p.item-text__adress Бежицкий р-н, ул. Бежицкая 279 А
                                    p.all-projects__item-desc Малоэтажная застройка для комфортной жизни
                                
                                ul.item-text__list 
                                    li.item-text__list-item.item1 монолитныйный дом
                                    li.item-text__list-item.item2 54 квартиры
                                    li.item-text__list-item.item3 2017 - 2018 г.
                    