main.main.main-sales
    section.descriptor 
        .descriptor__text 
            .container
                .descriptor__text-content
                    h1.descriptor__title Отдел продаж
                    .descriptor__text-block 
                        p Отдел продаж ГК "Регион" представлен профессионалами команды ООО "БЖБ". Процесс покупки квартиры обеспечивается полным юридическим и клиентским надзором.
        .descriptor__gallery.descriptor__sales(style="background-image: url(../img/catalog/sales-description.jpg);")
            .container
                .descriptor__wrapper 
                    .descriptor__wrapper-left
                        img(src="../img/svg/sales-img-logo.svg", alt="")
                        h3.descriptor__wrapper-title.descriptor__sales-title  ООО “Брянское жилищное бюро”
                        ul.descriptor__wrapper-items 
                            li.descriptor__wrapper-item.item-phone
                                a(href="tel:+74832303009") +7 (4832) 30-30-09 
                            li.descriptor__wrapper-item.item-adress  Брянск, ул. Красноармейская 100, оф. 426
                            li.descriptor__wrapper-item.item-mail  
                                a(href="mailto: bhb-bryansk@yandex.ru") bhb-bryansk@yandex.ru
                        p.descriptor__wrapper-name Дмитрий Федорович Орлов 
                            span.descriptor__wrapper-post Директор клиентского сервиса 
                                
                    .descriptor__wrapper-right
                        img(src="../img/catalog/sales-person.png", alt="")
        .descriptor__wrapper-mobile
            .container
                p.descriptor__wrapper-name Дмитрий Федорович Орлов 
                    span.descriptor__wrapper-post Директор клиентского сервиса 
                img(src="../img/svg/sales-img-logo.svg", alt="")
                h3.descriptor__wrapper-title.descriptor__sales-title  ООО “Брянское жилищное бюро”
                ul.descriptor__wrapper-items 
                    li.descriptor__wrapper-item.item-phone
                        a(href="tel:+74832303009") +7 (4832) 30-30-09 
                    li.descriptor__wrapper-item.item-adress  Брянск, ул. Красноармейская 100, оф. 426
                    li.descriptor__wrapper-item.item-mail  
                        a(href="mailto: bhb-bryansk@yandex.ru") bhb-bryansk@yandex.ru
    section.sales 
        .container 
            .sales__wrapper 
                .sales__callback 
                    form.callback__form.sendler.form_block(name='callback')
                        h3.contacts__title Оставьте заявку
                        p.contacts__subtitle и мы свяжемся с вами в ближайшее время.
                        .callback-form.form_block--inputs
                            label.fw-placeholder.name
                                input.fw-input.Y-required(type='text' name='name')
                                span.placeholder Ваше имя
                                span.error-placeholder Введите Ваше имя
                            label.fw-placeholder.phone
                                input.fw-input.Y-required(type='text' name='phone')
                                span.placeholder Номер телефона
                                span.error-placeholder Введите Ваш номер
                        .callback-form.form_block--textarea
                            label.fw-placeholder.text-area
                                textarea(name='message' placeholder="Опишите Ваш вопрос или просьбу и удобное время для связи.")
                                span.placeholder Комментарий
                        .callback-form.form_block--checkbox
                            label.fw-placeholder
                                input#checkbox-home.checkbox.Y-required(type='checkbox')
                                label(for='checkbox-home')
                                    p Я ознакомился и согласен с&nbsp; <span class="load--agreement"> правилами</span>
                                button.btn Отправить
                        input(type='hidden' name='link_page' value='')
                .sales__map-wrapper
                    .sales__map#map