block variables
    - var title = 'Новости'
    - var page = 'article'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/burger
        include html/static/header
        include html/pages/article
        include html/static/footer
