block variables
    - var title = 'Новости и анонсы'
    - var page = 'articles'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/burger
        include html/static/header
        include html/pages/articles
        include html/static/footer
        